#ggModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "ggModalLabel", :role => "dialog", :tabindex => "-1"}
  .span12
    #ggCarousel.carousel
      %button.close.icon-remove{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
      .carousel-inner
        .item.active
          .modal-caption
            %span.num 1
            %span Scott accesses his portfolio.
          %img{src: '../assets/wires/GG-01-AccessPortfolio-1000x700px.png'}
        .item
          .modal-caption
            %span.num 2
            %span He wants to add a new image album.
          %img{src: '../assets/wires/GG-01b-AddAlbum-1000x700px.png'}
        .item
          .modal-caption
            %span.num 3
            %span After choosing a title he'll create the album.
          %img{src: '../assets/wires/GG-02-NewCollection-1000x700px.png'}
        .item
          .modal-caption
            %span.num 4
            %span Now he can access his images to add them to the new album.
          %img{src: '../assets/wires/GG-02a-CollectionCreated-1000x700px.png'}
        .item
          .modal-caption
            %span.num 5
            %span He hasn't uploaded any images yet, so he'll do so now.
          %img{src: '../assets/wires/GG-03-AddImages-1000x700px.png'}
        .item
          .modal-caption
            %span.num 6
            %span He can upload multple images at once.
          %img{src: '../assets/wires/GG-03a-FileUploader-1000x700px.png'}
        .item
          .modal-caption
            %span.num 7
            %span The upload animations show him the progress of each image.
          %img{src: '../assets/wires/GG-04-Uploading-1000x700px.png'}
        .item
          .modal-caption
            %span.num 8
            %span Now he can choose which images to add to this album.
          %img{src: '../assets/wires/GG-05-AddToCollection-1000x700px.png'}
        .item
          .modal-caption
            %span.num 9
            %span Now that his album has images he may want to choose one to feature
          %img{src: '../assets/wires/GG-06-FeatureImage-1000x700px.png'}
        .item
          .modal-caption
            %span.num 10
            %span Animation confirms that his chosen image is now featured
          %img{src: '../assets/wires/GG-07-Featured-1000x700px.png'}
        .item
          .modal-caption
            %span.num 11
            %span No if he goes back to his portfolio index
          %img{src: '../assets/wires/GG-08-ViewPortfolio-1000x700px.png'}
        .item
          .modal-caption
            %span.num 12
            %span The featured image is now associated with the album.
          %img{src: '../assets/wires/GG-09-PortfolioFeatured-1000x700px.png'}
        .item
          .modal-caption
            %span.num 13
            %span He can also reposition each image in his album.
          %img{src: '../assets/wires/GG-10-HoldToReposition-1000x700px.png'}
        .item
          .modal-caption
            %span.num 14
            %span As he slides into position a placeholder dynamically shows him new arrangements.
          %img{src: '../assets/wires/GG-11-Repositioning-1000x700px.png'}
        .item
          .modal-caption
            %span.num 15
            %span The controls also allow him to remove images from the album (they remain accessible from 'My Images').
          %img{src: '../assets/wires/GG-12-RemoveImage-1000x700px.png'}
        .item
          .modal-caption
            %span.num 16
            %span He can also delete the whole album
          %img{src: '../assets/wires/GG-13-DeleteCollection-1000x700px.png'}
        .item
          .modal-caption
            %span.num 17
            %span The confirmation clarifies the action before the album is deleted.
          %img{src: '../assets/wires/GG-14-DeleteCollectionConfirm-1000x700px.png'}
      %a.carousel-control.left.icon.icon-angle-left{href: "#ggCarousel", data: {slide:"prev"}}
      %a.carousel-control.right.icon.icon-angle-right{href: "#ggCarousel", data: {slide:"next"}}