%p.description An algrebriac algorithm for rewriting quadratic polynomials into linear factors.
%hr
%h4 Problem
%p The traditional approaches to this process break down into two categories:<br><br><a href="http://www.google.com/#hl=en&sugexp=les%3B&gs_rn=5&gs_ri=psy-ab&cp=25&gs_id=6&xhr=t&q=splitting+the+middle+term&fp=1" target="_blank">Techniques</a> that offer a repeatable process but treate trinomials with leading coeffients as a completely different approach.<br><br><a href="http://www.google.com/#hl=en&sugexp=les%3B&gs_rn=5&gs_ri=psy-ab&cp=36&gs_id=6&xhr=t&q=factoring+trinomials+trial+and+error" target="_blank">Techniques</a> that build upon simpler factoring methods but don't offer a concrete process for discovering factors.
%h4 Goals
%p A unified approach that balances abstract problem solving with a concrete process
%h4 Tools
%p FOIL method for multipling binomials, prime factorizations
