#sgModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "sgModalLabel", :role => "dialog", :tabindex => "-1"}
  .span12
    #sgCarousel.carousel
      %button.close.icon-remove{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
      .carousel-inner
        .item.active
          %img{src: '../assets/wires/Handwires01-1000px.jpg'}
        .item
          %img{src: '../assets/wires/Handwires02-1000px.jpg'}
        .item
          %img{src: '../assets/wires/Handwires03-1000px.jpg'}
        .item
          %img{src: '../assets/wires/Handwires04-1000px.jpg'}
        .item
          %img{src: '../assets/wires/Handwires05-1000px.jpg'}
        .item
          %img{src: '../assets/wires/ac4d-app-wires-01.png'}
        .item
          %img{src: '../assets/wires/ac4d-app-wires-02.png'}
        .item
          %img{src: '../assets/wires/ac4d-app-wires-03.png'}
        .item
          %img{src: '../assets/wires/ac4d-app-wires-04.png'}
      %a.carousel-control.left.icon.icon-angle-left{href: "#sgCarousel", data: {slide:"prev"}}
      %a.carousel-control.right.icon.icon-angle-right{href: "#sgCarousel", data: {slide:"next"}}