%p.description A web platform currently under development to connect girls and women with artists and makers through apprenticeships and workshops.
%hr
%h4 Problem
%p Create a virtual structure for users to upload and manage images for use in their GirlsGuild portfolios as well as for use in events they propose through the site.
%h4 Goals
%p Flexible, object-oriented design of models with lightweight views and controllers that push the heavy work clientside.
%h4 Tools
%p Ruby on Rails, Haml, JQuery, CSS3, Sass, Bootstrap, HTML5
%h4 Collaboration
%p Cheyenne Weaver & Diana Griffin
%a.pull-left.round-button{href: '#ggModal', role: "button", data: {toggle: "modal"}} User Flow

















