%p.description A web portfolio application for the <a href="www.ac4d.com">Austin Center for Design</a>.
%hr
%h4 Problem
%p Demonstrate interest and readiness for ac4d’s 1 year program in a professional format
%h4 Goals
%p Convey my portfolio, resume, and statement of purpose with strong, succinct style and add interest with dynamic complementing visuals.  Build a website that can be updated and refined to reflect new interests and experience.
%h4 Tools
%p Ruby on Rails, Haml, JQuery, CSS3, Sass, Bootstrap, HTML5
%h4 Collaboration
%p Cheyenne Weaver
%a.pull-left.round-button{href: '#sgModal', role: "button", data: {toggle: "modal"}} Wireframes
