%p.description An technical article detailing a defensive concept central to the Longhorn's defensive architechture.
%hr
%h4 Problem
%p Defensive concepts can be hard to pin down because they are highly responsive and camera angles often hide necessary information.  In general, most fans have very little exposure to defensive strategic concepts.
%h4 Goals
%p Research and write a fairly technical account of a portion of Texas' Defense.  Use the generation of the article as a motivation for expanding my own understanding of the defense through a meticulous review of the previous season.
%h4 Tools
%p Football Coaching Forums, Technical Football Blogs, Adobe Photoshop, Pages
%a.pull-left.round-button{href: 'http://insidetexas.com/news/story.php?article=3719', target: '_blank'} Read Article
