%p.description A longform magazine article published in Lindy's <a href="http://store.lindyssports.com/product.php?cn=691" target="_blank">2012 In The Huddle - Texas</a>
%hr
%h4 Problem
%p Sports Writing is full of generalizations and platitudes.  It's rare to find articles that support their claims much less educate their audience.
%h4 Goals
%p Write and engaging article that avoids the lazy pitfalls that characterize most sports media.  Support arguments with details that are revealing rather than inflamatory.  Make plain that which is open for conjecture versus that which is documented.
%h4 Tools
%p Adobe Illustrator, Pages
%h4 Editing
%p Peter Bean
%a.pull-left.round-button{href: '#magModal', role: "button", data: {toggle: "modal"}} View Article
