%p.description One of my first technical articles.  This article primed a series of articles prior to the 2011 season that highlighted the new offense's core concepts.
%hr
%h4 Problem
%p There was no palatable source of information for Longhorn Fans to educate themselves on their new offensive coordinator despite obvious demand.
%h4 Goals
%p Utilize film from Bryan Harsin's previous coaching position in conjunction with evidence from Texas' Spring game to generate insights into the new offense.  Articulate these details in an engaging format.  In short: write the article I was wishing existed.
%h4 Tools
%p Coaching Books, Technical Football Blogs, Game Videos, Adobe Illustrator, Pages
%a.pull-left.round-button{href: 'http://www.barkingcarnival.com/2011/04/08/spring-game-sampler-first-course-the-power-o/', target: '_blank'} Read Article
