#magModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "magModalLabel", :role => "dialog", :tabindex => "-1"}
  .span12
    #magCarousel.carousel
      %button.close.icon-remove{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
      .carousel-inner
        .item.active
          %img{src: '../assets/wires/Page80-1183px.jpg'}
        .item
          %img{src: '../assets/wires/Page81-1183px.jpg'}
        .item
          %img{src: '../assets/wires/Page82-1183px.jpg'}
        .item
          %img{src: '../assets/wires/Page83-1183px.jpg'}
        .item
          %img{src: '../assets/wires/Page84-1183px.jpg'}
        .item
          %img{src: '../assets/wires/Page85-1183px.jpg'}
        .item
          %img{src: '../assets/wires/Page86-1183px.jpg'}
        .item
          %img{src: '../assets/wires/Page87-1183px.jpg'}
      %a.carousel-control.left.icon.icon-angle-left{href: "#magCarousel", data: {slide:"prev"}}
      %a.carousel-control.right.icon.icon-angle-right{href: "#magCarousel", data: {slide:"next"}}