%p.description An offseason review of the defensive unit prior to the 2012 season. This video utilized clips from one of the unit's strongest performances to highlight potential growth for the coming year.
%hr
%h4 Problem
%p During the offseason, interest in the blog dwindles while during the season fans are constantly fixated on the next game.  The offseason should offer an opportunity to generate interest in the coming season in longer formats.
%h4 Goals
%p Update my process to tighten delivery and include visual effects to highlight action.  Previously, my videos were webcast-styled: with mouse pointer and audio cues only.
%h4 Tools
%p Wondershare, Avidemux2, Audacity, Adobe After Effects, Adobe Premiere
%a.pull-left.round-button{href: 'http://www.barkingcarnival.com/2012/8/25/3267119/kansas-state-nightcall', target: '_blank'} Original Blog Post
