%p.description An informational video for football fans highlighting the relevant details of one technical concept.
%hr
%h4 Problem
%p Football's complex action keeps deep understanding of the game largely obscured for it's fans.  This is compounded by an over-simplified approach from traditional outlets.
%h4 Goals
%p Convey technical details without getting lost in the minutae.  Build concepts from the foundation to make the video accessible to a wide audience.  Use effects to directly address the subject, maintain interest, help associative bonds, and encourage repeat viewing.
%h4 Tools
%p Avidemux2, Adobe After Effects, Adobe Premiere
%a.pull-left.round-button{href: 'http://www.barkingcarnival.com/2012/8/15/3243855/konichiwa-b-s', target:"_blank" } Original Blog Post
