#chartModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "chartModalLabel", :role => "dialog", :tabindex => "-1"}
  .span10
    %button.close.icon-remove{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
    .popout
      %img{src: '../assets/wires/process-flow.jpg'}
