%p.description A review of the previous weekend's action for fans of Longhorn Football.  This video reviews the game verus Texas Tech during the 2012 season.
%hr
%h4 Problem
%p A football game consists of over one hundred plays: each complex in its own right and each contributing to the outcome.  This action is difficult to filter and clarify in a brief, digestable format.  Additionally, the strategies that are integral to the discussion are inferred rather than explicit.
%h4 Goals
%p Find key plays that reveal something about the Longhorn team.  Highlight trends from week to week that help fans see developement and difficulties over the course of a season.
%h4 Tools
%p Jaksta, Wondershare, Avidemux2, Adobe After Effects, Adobe Premiere
%a.pull-left.round-button{href: '#chartModal', role: "button", data: {toggle: "modal"}} Process Chart
