= provide(:title, 'Bio')
%section#bio.section
  .container
    .row
      .span5
        %p Scott Wendall Gerlach is mild mannered fellow with serious hermitic tendencies.  He is drawn out of his cave by his passion for exchanging ideas with thoughtful folks.  He values clarification over simplification.  At various points in his life he has been unmistakeably obsessed with snails, lizards, snakes, bubbles, swimming, music, mathematics, tutoring, virtual smelting, rocket jumps, football strategy, gardening, and he always enjoys sharing with others.  Most recently he has been on a ruby on rails and javascript bender.  Scott lives in Austin, Texas under a roof with his girlfriend Cheyenne Weaver and his dog Jackson where they get up to adventures and down with the boogie.
        %img.campy{src: '../assets/campy.jpg'}
      .span7
        %br
        %img.popout{src: '../assets/rocket-jump.jpg'}

