= provide(:title, "Statement of Purpose")
%section{id: 'purpose', role: 'purpose'}
  .row
    .span9.visible-desktop
      .row
        .page-header
          %h1 A Point of Inflection <small>by Scott Gerlach</small>
      .row
        .popout
          = render 'inflection_text'
    .span12.hidden-desktop
      .row
        .page-header
          %h1 A Point of Inflection <small>by Scott Gerlach</small>
      .row
        .popout
          = render 'inflection_text'
        %br
        %br
    .span3.visible-desktop
      .target
        %img{src: "../assets/target.png"}
      .path
        %img{src: "../assets/inflection-long-01.png"}



