= provide(:title, 'Video Process Flow')

%section{id: 'video-process-flow', role: 'video-process-flow'}
	.row
		.span6
			%h2.popout Capture video
		.span6
			= image_tag('../assets/icons/vimeo.png', class: 'popout')
	.row
		.span6
			%h2.popout Convert video
		.span6
			= image_tag('../assets/icons/twitter.png', class: 'popout')
