%section#footer.section{role: 'footer'}
  .container
    .socials
      %a{href: "http://github.com/swgerlach"}
        %img.pull-right{src: '/assets/icons/github-small.png'}

      %a{href: "http://www.youtube.com/user/swgerlach"}
        %img.pull-right{src: '/assets/icons/youtube-small.png'}

      %a{href: "https://vimeo.com/longhornscott"}
        %img.pull-right{src: '/assets/icons/vimeo-small.png'}

      %a{href: "http://twitter.com/Scott_Gerlach"}
        %img.pull-right{src: '/assets/icons/twitter-small.png'}

      %a{href: "http://www.sbnation.com/users/LonghornScott/blog"}
        %img.pull-right{src: '/assets/icons/scott-small.png'}